.company-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.company-item {
    width: 170px;
    height: 92px;
}

.company-item:not(:last-child) {
    margin-right: 30px;
} 

.icon-company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--icons-color-main);
    border: 1px solid var(--icons-color-main);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-company:hover,
.icon-company:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.logo-company {
    fill: currentColor;
}